.eventos__lista{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.eventos__item{
    flex-grow: 1;
    max-width: 400px;
}   

.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
}

.agenda__item {
    flex-grow: 1;
}

.agenda__lista {
    justify-content: end;

}

@media screen and (min-width:720px) {
    .eventos__lista{
        justify-content: end;
    }
}